
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.js.map
AtTest.Web/Translations
packages/*
!packages/repositories.config
AtTest.Web/Scripts/**/*.js
.vs/
AtTest.React/node_modules/*
AtTest.React/dist/*
AtTest.React/Translations/*
AtTest.React/CodeGen/*
/AtTest.React/wwwroot/dist/*
/AtTest.React/web.config
/AtTest.React/ts_out/*
